{{ 'section-naturally-nutritious.css' | asset_url | stylesheet_tag }}

<section class="naturally-nutritious section-{{ section.id }}">
  <div class="page-width naturally-nutritious__inner">
    <div class="naturally-nutritious__header">
      <h2 class="naturally-nutritious__heading">Naturally Nutritious</h2>
      <p class="naturally-nutritious__subheading">Packed with essential nutrients and natural goodness in every date</p>
    </div>

    <div class="naturally-nutritious__content">
      <!-- Nutrition Facts Panel -->
      <div class="nutrition-facts">
        <h3 class="nutrition-facts__title">Nutrition Facts</h3>
        <p class="nutrition-facts__serving">Serving size: 2 Dates (40g)</p>

        <div class="nutrition-facts__calories">
          <span class="nutrition-facts__calories-label">Calories</span>
          <span class="nutrition-facts__calories-value">120</span>
        </div>

        <div class="nutrition-facts__header-row">
          <span></span>
          <span>%Daily Value*</span>
        </div>

        <div class="nutrition-facts__row">
          <span class="nutrition-facts__label">Total fat</span>
          <span class="nutrition-facts__amount">0 g</span>
          <span class="nutrition-facts__percent">0%</span>
        </div>
        <div class="nutrition-facts__row nutrition-facts__row--indent">
          <span class="nutrition-facts__label">Saturated Fat</span>
          <span class="nutrition-facts__amount">0 g</span>
          <span class="nutrition-facts__percent">0%</span>
        </div>
        <div class="nutrition-facts__row nutrition-facts__row--indent">
          <span class="nutrition-facts__label">Trans Fat</span>
          <span class="nutrition-facts__amount">0 g</span>
          <span class="nutrition-facts__percent">0%</span>
        </div>

        <div class="nutrition-facts__row">
          <span class="nutrition-facts__label">Cholesterol</span>
          <span class="nutrition-facts__amount">0 mg</span>
          <span class="nutrition-facts__percent">0%</span>
        </div>

        <div class="nutrition-facts__row">
          <span class="nutrition-facts__label">Sodium</span>
          <span class="nutrition-facts__amount">0 mg</span>
          <span class="nutrition-facts__percent">0%</span>
        </div>

        <div class="nutrition-facts__row">
          <span class="nutrition-facts__label">Total Carbohydrates</span>
          <span class="nutrition-facts__amount">31 g</span>
          <span class="nutrition-facts__percent">10%</span>
        </div>
        <div class="nutrition-facts__row nutrition-facts__row--indent">
          <span class="nutrition-facts__label">Dietary Fiber</span>
          <span class="nutrition-facts__amount">3 g</span>
          <span class="nutrition-facts__percent">12%</span>
        </div>
        <div class="nutrition-facts__row nutrition-facts__row--indent">
          <span class="nutrition-facts__label">Total Sugars</span>
          <span class="nutrition-facts__amount">29 g</span>
          <span class="nutrition-facts__percent"></span>
        </div>
        <div class="nutrition-facts__row nutrition-facts__row--indent">
          <span class="nutrition-facts__label">Includes Added Sugars</span>
          <span class="nutrition-facts__amount">0 g</span>
          <span class="nutrition-facts__percent">0%</span>
        </div>

        <div class="nutrition-facts__row">
          <span class="nutrition-facts__label">Protein</span>
          <span class="nutrition-facts__amount">0.9 g</span>
          <span class="nutrition-facts__percent"></span>
        </div>

        <div class="nutrition-facts__divider"></div>

        <div class="nutrition-facts__row">
          <span class="nutrition-facts__label">Vitamin D</span>
          <span class="nutrition-facts__amount">0 mcg</span>
          <span class="nutrition-facts__percent">0%</span>
        </div>
        <div class="nutrition-facts__row">
          <span class="nutrition-facts__label">Calcium</span>
          <span class="nutrition-facts__amount">30 mg</span>
          <span class="nutrition-facts__percent">2%</span>
        </div>
        <div class="nutrition-facts__row">
          <span class="nutrition-facts__label">Iron</span>
          <span class="nutrition-facts__amount">0.265 mg</span>
          <span class="nutrition-facts__percent">2%</span>
        </div>
        <div class="nutrition-facts__row">
          <span class="nutrition-facts__label">Potassium</span>
          <span class="nutrition-facts__amount">278 mg</span>
          <span class="nutrition-facts__percent">7%</span>
        </div>

        <p class="nutrition-facts__footnote">* DV = Daily Value based on a 2,000 calorie diet</p>
      </div>

      <!-- Right Column -->
      <div class="naturally-nutritious__right">
        <!-- Health Benefits -->
        <div class="health-benefits">
          <h3 class="health-benefits__title">Health Benefits</h3>
          <div class="health-benefits__grid">
            <div class="health-benefits__item">
              <span class="health-benefits__icon">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13 2L3 14H12L11 22L21 10H12L13 2Z" stroke="#A2B739" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              </span>
              <span class="health-benefits__text">Energy booster</span>
            </div>
            <div class="health-benefits__item">
              <span class="health-benefits__icon">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M16 15.999L19 7.99902L22 15.999C21.13 16.649 20.08 16.999 19 16.999C17.92 16.999 16.87 16.649 16 15.999Z"
                    stroke="#A2B739" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M2 15.999L5 7.99902L8 15.999C7.13 16.649 6.08 16.999 5 16.999C3.92 16.999 2.87 16.649 2 15.999Z"
                    stroke="#A2B739" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M7 20.9985H17" stroke="#A2B739" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                  <path d="M12 3.00146V21.0015" stroke="#A2B739" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                  <path d="M3 7.00195H5C7 7.00195 10 6.00195 12 5.00195C14 6.00195 17 7.00195 19 7.00195H21" stroke="#A2B739"
                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
      
              </span>
              <span class="health-benefits__text">Supports weight management</span>
            </div>
            <div class="health-benefits__item">
              <span class="health-benefits__icon">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M2 21.999L16 7.99902" stroke="#A2B739" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                  <path
                    d="M3.46948 12.5295L4.99948 10.9995L6.52948 12.5295C7.18288 13.1855 7.54974 14.0736 7.54974 14.9995C7.54974 15.9254 7.18288 16.8135 6.52948 17.4695L4.99948 18.9995L3.46948 17.4695C2.81608 16.8135 2.44922 15.9254 2.44922 14.9995C2.44922 14.0736 2.81608 13.1855 3.46948 12.5295Z"
                    stroke="#A2B739" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  <path
                    d="M7.46948 8.52853L8.99948 6.99854L10.5295 8.52853C11.1829 9.18451 11.5497 10.0727 11.5497 10.9985C11.5497 11.9244 11.1829 12.8126 10.5295 13.4685L8.99948 14.9985L7.46948 13.4685C6.81608 12.8126 6.44922 11.9244 6.44922 10.9985C6.44922 10.0727 6.81608 9.18451 7.46948 8.52853Z"
                    stroke="#A2B739" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  <path
                    d="M11.4695 4.53147L12.9995 3.00146L14.5295 4.53147C15.1829 5.18744 15.5497 6.07559 15.5497 7.00146C15.5497 7.92734 15.1829 8.81549 14.5295 9.47147L12.9995 11.0015L11.4695 9.47147C10.8161 8.81549 10.4492 7.92734 10.4492 7.00146C10.4492 6.07559 10.8161 5.18744 11.4695 4.53147Z"
                    stroke="#A2B739" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  <path
                    d="M20 2.00098H22V4.00098C22 5.06184 21.5786 6.07926 20.8284 6.8294C20.0783 7.57955 19.0609 8.00098 18 8.00098H16V6.00098C16 4.94011 16.4214 3.92269 17.1716 3.17255C17.9217 2.4224 18.9391 2.00098 20 2.00098Z"
                    stroke="#A2B739" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  <path
                    d="M11.47 17.4709L13 19.0009L11.47 20.5309C10.814 21.1843 9.92587 21.5512 9 21.5512C8.07413 21.5512 7.18598 21.1843 6.53 20.5309L5 19.0009L6.53 17.4709C7.18598 16.8175 8.07413 16.4507 9 16.4507C9.92587 16.4507 10.814 16.8175 11.47 17.4709Z"
                    stroke="#A2B739" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  <path
                    d="M15.47 13.4695L17 14.9995L15.47 16.5295C14.814 17.1829 13.9259 17.5497 13 17.5497C12.0741 17.5497 11.186 17.1829 10.53 16.5295L9 14.9995L10.53 13.4695C11.186 12.8161 12.0741 12.4492 13 12.4492C13.9259 12.4492 14.814 12.8161 15.47 13.4695Z"
                    stroke="#A2B739" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  <path
                    d="M19.47 9.4685L21 10.9985L19.47 12.5285C18.814 13.1819 17.9259 13.5488 17 13.5488C16.0741 13.5488 15.186 13.1819 14.53 12.5285L13 10.9985L14.53 9.4685C15.186 8.8151 16.0741 8.44824 17 8.44824C17.9259 8.44824 18.814 8.8151 19.47 9.4685Z"
                    stroke="#A2B739" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </span>
              <span class="health-benefits__text">High in fibre</span>
            </div>
            <div class="health-benefits__item">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M19 14.0015C20.49 12.5415 22 10.7915 22 8.50146C22 7.04277 21.4205 5.64383 20.3891 4.61238C19.3576 3.58093 17.9587 3.00146 16.5 3.00146C14.74 3.00146 13.5 3.50146 12 5.00146C10.5 3.50146 9.26 3.00146 7.5 3.00146C6.04131 3.00146 4.64236 3.58093 3.61091 4.61238C2.57946 5.64383 2 7.04277 2 8.50146C2 10.8015 3.5 12.5515 5 14.0015L12 21.0015L19 14.0015Z"
                  stroke="#A2B739" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
      
              </span>
              <span class="health-benefits__text">Supports heart & brain</span>
            </div>
            <div class="health-benefits__item">
              <span class="health-benefits__icon">
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M20.75 10.75H18.27C17.833 10.7491 17.4077 10.8913 17.0591 11.155C16.7106 11.4186 16.458 11.7892 16.34 12.21L13.99 20.57C13.9749 20.6219 13.9433 20.6675 13.9 20.7C13.8567 20.7325 13.8041 20.75 13.75 20.75C13.6959 20.75 13.6433 20.7325 13.6 20.7C13.5567 20.6675 13.5251 20.6219 13.51 20.57L7.99 0.93C7.97485 0.878071 7.94327 0.832455 7.9 0.8C7.85673 0.767544 7.80409 0.75 7.75 0.75C7.69591 0.75 7.64327 0.767544 7.6 0.8C7.55673 0.832455 7.52515 0.878071 7.51 0.93L5.16 9.29C5.04246 9.70915 4.79138 10.0785 4.44486 10.342C4.09835 10.6055 3.67532 10.7488 3.24 10.75H0.75"
                    stroke="#A2B739" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </span>
              <span class="health-benefits__text">Supports healthy gut bacteria</span>
            </div>
            <div class="health-benefits__item">
              <span class="health-benefits__icon">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M10.501 20.502L20.501 10.502C20.9683 10.044 21.3401 9.49801 21.5951 8.89548C21.85 8.29294 21.983 7.64584 21.9863 6.9916C21.9896 6.33736 21.8632 5.68895 21.6143 5.08387C21.3655 4.47879 20.9991 3.92905 20.5365 3.46642C20.0739 3.0038 19.5241 2.63747 18.9191 2.38863C18.314 2.13979 17.6656 2.01336 17.0113 2.01666C16.3571 2.01997 15.71 2.15294 15.1075 2.40788C14.5049 2.66282 13.9589 3.03468 13.501 3.50196L3.50098 13.502C3.03371 13.9599 2.66185 14.5059 2.4069 15.1084C2.15196 15.711 2.01899 16.3581 2.01569 17.0123C2.01238 17.6666 2.13881 18.315 2.38765 18.92C2.6365 19.5251 3.00282 20.0749 3.46545 20.5375C3.92807 21.0001 4.47782 21.3664 5.0829 21.6153C5.68798 21.8641 6.33638 21.9906 6.99063 21.9872C7.64487 21.9839 8.29197 21.851 8.8945 21.596C9.49703 21.3411 10.0431 20.9692 10.501 20.502Z"
                    stroke="#A2B739" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M8.5 8.49902L15.5 15.499" stroke="#A2B739" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
      
              </span>
              <span class="health-benefits__text">Natural laxative / helps reduce constipation</span>
            </div>
            <div class="health-benefits__item">
              <span class="health-benefits__icon">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M12.8 19.601C13.0535 19.7911 13.3486 19.9183 13.6609 19.972C13.9732 20.0258 14.2938 20.0045 14.5963 19.91C14.8988 19.8155 15.1745 19.6505 15.4007 19.4285C15.6269 19.2066 15.7972 18.9341 15.8974 18.6334C15.9976 18.3328 16.0249 18.0126 15.9771 17.6994C15.9293 17.3861 15.8078 17.0886 15.6225 16.8316C15.4372 16.5745 15.1935 16.3651 14.9114 16.2207C14.6293 16.0763 14.3169 16.001 14 16.001H2"
                    stroke="#A2B739" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  <path
                    d="M17.5 7.99854C17.7557 7.65762 18.0943 7.38773 18.4836 7.21447C18.8729 7.04122 19.3001 6.97037 19.7245 7.00864C20.1489 7.04691 20.5565 7.19303 20.9086 7.43313C21.2606 7.67324 21.5455 7.99935 21.7361 8.3805C21.9266 8.76165 22.0166 9.1852 21.9975 9.61091C21.9783 10.0366 21.8507 10.4504 21.6266 10.8129C21.4026 11.1754 21.0896 11.4746 20.7174 11.6821C20.3452 11.8896 19.9261 11.9985 19.5 11.9985H2"
                    stroke="#A2B739" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  <path
                    d="M9.8 4.40147C10.0535 4.21132 10.3486 4.08415 10.6609 4.03042C10.9732 3.97669 11.2938 3.99795 11.5963 4.09244C11.8988 4.18693 12.1745 4.35195 12.4007 4.5739C12.6269 4.79584 12.7972 5.06837 12.8974 5.36901C12.9976 5.66965 13.0249 5.9898 12.9771 6.30308C12.9293 6.61636 12.8078 6.9138 12.6225 7.17089C12.4372 7.42797 12.1935 7.63734 11.9114 7.78175C11.6293 7.92616 11.3169 8.00146 11 8.00146H2"
                    stroke="#A2B739" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
      
              </span>
              <span class="health-benefits__text">Supports respiratory system</span>
            </div>
            <div class="health-benefits__item">
              <span class="health-benefits__icon">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M7 16.2988C9.2 16.2988 11 14.4688 11 12.2488C11 11.0888 10.43 9.98883 9.29 9.05883C8.15 8.12883 7.29 6.74883 7 5.29883C6.71 6.74883 5.86 8.13883 4.71 9.05883C3.56 9.97883 3 11.0988 3 12.2488C3 14.4688 4.8 16.2988 7 16.2988Z"
                    stroke="#A2B739" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  <path
                    d="M12.5598 6.601C13.2476 5.50212 13.7351 4.29004 13.9998 3.021C14.4998 5.521 15.9998 7.921 17.9998 9.521C19.9998 11.121 20.9998 13.021 20.9998 15.021C21.0056 16.4033 20.6007 17.7562 19.8366 18.9081C19.0726 20.06 17.9837 20.9591 16.708 21.4915C15.4323 22.0238 14.0273 22.1654 12.671 21.8983C11.3148 21.6311 10.0684 20.9673 9.08984 19.991"
                    stroke="#A2B739" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
      
              </span>
              <span class="health-benefits__text">Contains iron, potassium & magnesium</span>
            </div>
            <div class="health-benefits__item">
              <span class="health-benefits__icon">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M22 6.99854L13.5 15.4985L8.5 10.4985L2 16.9985" stroke="#A2B739" stroke-width="1.5"
                    stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M16 6.99854H22V12.9985" stroke="#A2B739" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
      
              </span>
              <span class="health-benefits__text">Helps support healthy blood pressure</span>
            </div>
            <div class="health-benefits__item">
              <span class="health-benefits__icon">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M12 20.9391C13.5 20.9391 14.75 21.9991 16 21.9991C19 21.9991 22 13.9991 22 9.7791C21.9659 8.48382 21.4212 7.25452 20.4846 6.35915C19.548 5.46377 18.2955 4.9749 17 4.9991C14.78 4.9991 13 6.4391 12 6.9991C11 6.4391 9.22 4.9991 7 4.9991C5.70375 4.97226 4.4497 5.46025 3.51253 6.35618C2.57536 7.25211 2.03147 8.48295 2 9.7791C2 13.9991 5 21.9991 8 21.9991C9.25 21.9991 10.5 20.9391 12 20.9391Z"
                    stroke="#A2B739" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M10 2.00098C11 2.50098 12 4.00098 12 7.00098" stroke="#A2B739" stroke-width="1.5"
                    stroke-linecap="round" stroke-linejoin="round" />
                </svg>
      
              </span>
              <span class="health-benefits__text">Supports colon health</span>
            </div>
          </div>
        </div>

        <!-- Nature's Perfect Snack -->
        <div class="natures-snack">
          <h3 class="natures-snack__title">Nature's Perfect Snack</h3>
          <p class="natures-snack__text">Fuel your body with the natural goodness of Palestinian Medjool dates – no added sugars, no preservatives, just pure wholesome nutrition from the land of Palestine.</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Naturally Nutritious",
  "tag": "section",
  "class": "section section--naturally-nutritious",
  "settings": [],
  "presets": [
    {
      "name": "Naturally Nutritious"
    }
  ]
}
{% endschema %}
